# Python临时文件和目录
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 虚拟环境
.venv*
venv/
ENV/
env/

# IDE和编辑器特定文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?